body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e90ff;
}

.logo img {
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

nav {
  text-align: right;
  position: absolute;
  top: 110px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
  margin-right: 40px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #bbbbbb;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 300px;
  margin: 10px 10px 20px 10px;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.produtos li:hover {
  border-color: #1e90ff;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos li h2 {
  font-size: 30px;
  font-weight: bold;
}

.produtos li .produto-descricao {
  font-size: 18px;
  margin-top: 10px;
  height: 100px;
  overflow: hidden;
}

.produtos li .produto-preco {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.imagens-home {
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dia {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}
footer {
  background-color: #1e90ff;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.direitos p,
.contato p {
  margin: 5px 0;
}
